.contact img {
  width: 100%;
}
.contact .us {
  width: 100%;
  height: 330px;
  padding-top: 70px;
  padding-left: 100px;
  display: flex;
}
.contact .us .gu {
  width: 370px;
  height: 250px;
}
.contact .us .uscon {
  width: 800px;
  height: 240px;
  padding-left: 30px;
  padding-top: 10px;
}
.contact .us .uscon h1, .contact .us .uscon h2 {
  font-weight: normal;
}
.contact .us .uscon p:nth-of-type(1) {
  margin-top: 30px;
}
.contact .us .uscon p {
  font-size: 13px;
  color: #696969;
}
.contact .us .uscon img {
  margin-top: 30px;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}