.pertrol .perimg {
  margin-top: 30px;
  width: 830px;
  height: 540px;
  border: 1px solid #eaeaea;
}
.pertrol .perimg img {
  display: block;
  margin: 10px auto;
}
.pertrol .advance {
  margin-top: 30px;
  color: black;
}
.pertrol .advance p {
  margin-top: 10px;
  font-size: 14px;
}