.moteam {
  width: 100%;
  overflow: hidden;
}
.change {
  margin-top: 2rem;
}
.chaitem {
  float: left;
  margin-left: .3rem;
  width: 8rem;
  height: 2rem;
  background-color: #1e82e8;
  text-align: center;
  line-height: 2rem;
  color: white;
  font-size: 14px;
}
.moteam .box {
  width: 200%;
}
.moteam .box .per {
  width: 50%;
  float: left;
}
.moteam .box img {
  width: 18.4rem;
  height: 18.4rem;
  display: block;
  margin: auto;
}
.active {
  background-color: #1eb8e8;
}
.moteam .per {
  color: black;
}